@page "{handler?}"
@model RobertHeijn_Web_App.Pages.Cart.IndexModel 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Shopping Cart";
}

<section class="rhs-shopping-cart-hero">
        <img class="rhs-inventory-title" src="~/images/main_banner_text.png" alt="Robert Heijn"/>
</section> 
<div class="container">

    @if (Model.CartViewModel.CartItems.Any())
    {
        <form method="post">
            <article class="rhs-shopping-cart-titles row">
                <br />
                <section class="rhs-shopping-cart-title col-xs-3">Product</section>
                <section class="rhs-shopping-cart-title col-xs-3 hidden-lg-down"></section>
                <section class="rhs-shopping-cart-title col-xs-2">Price</section>
                <section class="rhs-shopping-cart-title col-xs-2">Quantity</section>
                <section class="rhs-shopping-cart-title col-xs-2">Cost</section>
            </article>
            <div class="rhs-shopping-cart-items row">
                <div asp-validation-summary="All" class="text-danger"></div>
                @for (var i = 0; i < Model.CartViewModel.CartItems.Count; i++)
                {
                    var item = Model.CartViewModel.CartItems[i];
                    <article class="rhs-shopping-cart-items row">
                        <div>
                            <section class="rhs-shopping-cart-item rhs-shopping-cart-item--middle col-lg-3 hidden-lg-down">
                                <img class="rhs-shopping-cart-image" src="~/images/catalog-item-default-45.png" alt="Catalog Item"/>
                            </section>
                            <section class="rhs-shopping-cart-item rhs-shopping-cart-item--middle col-xs-3">@item.ProductName</section>
                            <section class="rhs-shopping-cart-item rhs-shopping-cart-item--middle col-xs-2">$ @item.Price.ToString("N2")</section>
                            <section class="rhs-shopping-cart-item rhs-shopping-cart-item--middle col-xs-2">
                                <input type="hidden" name="@("Items[" + i + "].Id")" value="@item.ProductId" />
                                <input type="number" class="rhs-shopping-cart-input" min="0" name="@("Items[" + i + "].Quantity")" value="@item.Quantity" />
                            </section>
                            <section class="rhs-shopping-cart-item rhs-shopping-cart-item--middle rhs-shopping-cart-item--mark col-xs-2">$ @Math.Round(item.Quantity * item.Price, 2).ToString("N2")</section>
                        </div>
                        <div class="row">

                        </div>
                    </article>
                }

                <div class="container">
                    <article class="rhs-shopping-cart-titles rhs-inventory-titles--clean row">
                        <section class="rhs-shopping-cart-title col-xs-10"></section>
                        <section class="rhs-shopping-cart-title col-xs-2">Total</section>
                    </article>

                    <article class="rhs-shopping-cart-items row">
                        <section class="rhs-shopping-cart-item col-xs-10"></section>
                        <section class="rhs-shopping-cart-item rhs-shopping-cart-item--mark
                         col-xs-2">€ @Model.CartViewModel.TotalPrice.ToString("N2")
                         </section>
                    </article>

                    <article class="rhs-shopping-cart-items row">
                        <section class="rhs-shopping-cart-item col-xs-7"></section>
                    </article>
                </div>
                <div class="row">
                    <section class="rhs-shopping-cart-item col-xs-1">
                        <a asp-page="/Index" class="btn rhs-shopping-cart-checkout text-white">[ Continue Shopping ]</a>
                    </section>
                    <section class="rhs-shopping-cart-item col-xs-push-7 col-xs-4">

                        <button class="btn rhs-shopping-cart-checkout" name="update-button" value="" type="submit"
                                asp-page-handler="Update"> [ Update ]</button>
                        <a class="btn rhs-shopping-cart-checkout" asp-page="/Checkout">[ Checkout ]</a>
                    </section>
                </div>
            </div>
        </form>
    }
    else
    {
        <h3 class="rhs-shopping-cart-items row">
            Shopping cart is empty.
        </h3>

        <section class="rhs-shopping-cart-item">
            <a asp-page="/Index" class="btn rhs-shopping-cart-checkout text-white">[ Continue Shopping ]</a>
        </section>
    }
</div>