@page
@model RobertHeijn_Web_App.Pages.Order.OrderDeliveryTypeModel

@{
    ViewData["Title"] = "Choose Delivery Type";
}
 
<div class="container ">                 
<h2>"@ViewData["Title"] for order @Model.CartId"</h2> 
    <div class="row d-md-grid">
        <div class="col-md-12">
            <section class="col-md-6">
                <form method="post">   
                    <hr/>
                    <div class="form-group">
                        <button class="btn btn-secondary dropdown-toggle 
                        d-flex align-self-center" id="selectDeliveryOption" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Select delivery option 
                        </button>
                        <ul class="dropdown-menu gap-2 h-auto" aria-labelledby="selectDeliveryOption">
                            @for (int i = 0; i < @Model.DeliveryTypes.Count; i++)
                            {
                                <br/>
                                <li><input asp-page-handler="Choose" 
                                class="dropdown-item" type="submit" 
                                value="@Model.DeliveryTypes.ElementAt(i).Key" asp-for="SelectedDeliveryType">@Model.DeliveryTypes.ElementAt(i).Key</li>
                            }
                            </ul>
                    </div>
                </form>  
            </section>
        </div>
    </div>
</div>